<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Search and Filter</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <nav>
            <img src="{{ url_for('static', filename='images/logo1.png') }}" class="logo" alt="Logo">
            <ul>
                <li><a href="/comment-analysis.html">Home Comment Analysis</a></li>
            </ul>
        </nav>

        <main class="content">
            <h1>Search and Filter Products</h1>

            <!-- Search form -->
            <form id="search-form">
                <input type="text" id="search-input" placeholder="Enter product name" required>
                <button type="submit" class="btn">Search</button>
            </form>

            <div id="results"></div> <!-- To display search and filter results -->
        </main>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
